@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.border{
  border:1px solid black;
}
.bg{
  background: url('/Rectangle 17.png');
  background-repeat: no-repeat;
  background-position: center;
}
.shop-bg{
  background: url('/Rectangle 1.png');
  background-position: center;
}